<center style="padding-bottom: 24px;">
  <table style="width: 700px">
    <tbody>
      <tr height="101" style="padding-top: 24px; padding-bottom: 24px">
        <td width="50%" style="width: 50%; padding: 0">
          <img style="width: 150px"
            src="https://raw.githubusercontent.com/katalon-studio/docs-images/master/katalon-studio/product-logo/logo-katalon.png"
            alt="KATALON LOGO" />
        </td>
        <td width="50%" style="width: 50%; padding: 0"></td>
      </tr>
      <tr style="background-color: #ffffff">
        <td style="
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 16px;
            word-break: break-word;
            word-wrap: break-word;
          " colspan="2">
          <div style="font-weight: bold; padding-bottom: 10px; font-size: large">
            Test Suite Collection Execution Report
          </div>
          <div style="font-weight: bold">Project: ${projectName}</div>
          <hr />
          <p>Greetings!</p>
          <p>
            Your test suite has just finished its execution. Here is the summary
            report:
          </p>
          <div style="
              border-radius: 4px;
              overflow: hidden;
              background-color: #ededfa;
            ">
            <div style="
                background-color: #5959eb;
                align-items: center;
                display: flex;
                padding-right: 10px;
                font-weight: bold;
                padding: 10px;
                color: #ffffff;
              ">
              <span style="padding-right: 10px">${suiteCollectionName}</span>
              <span style="
                    color: ${status_color};
                    background-color: ${status_bg_color};
                    border-radius: 3px;
                    padding: 2px;
                    font-size: smaller;
                ">${status}</span>
            </div>
            <table style="width: 100%; max-width: 700px; margin: auto">
              <tr>
                <th style="
                    font-weight: normal;
                    text-align: left;
                    padding-left: 12px;
                    width: 20%;
                  ">
                  Test suite result
                </th>
                <td style="
                    color: #4f4b51;
                    font-weight: bold;
                    width: 10%;
                    border-right: 1px solid #cccccb;
                  ">
                  <div>${totalTestSuites}</div>
                  <div>Total</div>
                </td>
                <td style="width: 14%; padding-left: 6px">
                  <div style="color: #1d7931; font-weight: bold">
                    ${totalPassed}
                  </div>
                  <div style="color: #4f4b51">Passed</div>
                </td>
                <td style="width: 14%; padding-left: 6px">
                  <div style="color: #b5001b; font-weight: bold">
                    ${totalFailed}
                  </div>
                  <div style="color: #4f4b51">Failed</div>
                </td>
                <td style="width: 14%; padding-left: 6px">
                  <div style="color: #dd334d; font-weight: bold">
                    ${totalError}
                  </div>
                  <div style="color: #4f4b51">Error</div>
                </td>
                <td style="width: 14%; padding-left: 6px">
                  <div style="color: #5d585f; font-weight: bold">
                    ${totalIncomplete}
                  </div>
                  <div style="color: #4f4b51">Incomplete</div>
                </td>
                <td style="width: 14%; padding-left: 6px">
                  <div style="color: #0067c7; font-weight: bold">
                    ${totalSkipped}
                  </div>
                  <div style="color: #4f4b51">Skipped</div>
                </td>
              </tr>
              <tr>
                <th style="
                    font-weight: normal;
                    text-align: left;
                    padding-left: 12px;
                    border-top: 1px solid #ffffff;
                  ">
                  Hostname
                </th>
                <td colspan="6" style="border-top: 1px solid #ffffff">
                  ${hostName}
                </td>
              </tr>
              <tr>
                <th style="
                    font-weight: normal;
                    text-align: left;
                    padding-left: 12px;
                  ">
                  Operation system
                </th>
                <td colspan="6">${os}</td>
              </tr>
              <tr>
                <th style="
                    font-weight: normal;
                    text-align: left;
                    padding-left: 12px;
                  ">
                  Executed by
                </th>
                <td colspan="6">${executedBy}</td>
              </tr>
              <tr>
                <th style="
                    font-weight: normal;
                    text-align: left;
                    padding-left: 12px;
                    border-top: 1px solid #ffffff;
                  ">
                  Start time
                </th>
                <td colspan="6" style="border-top: 1px solid #ffffff">
                  ${startTime}
                </td>
              </tr>
              <tr>
                <th style="
                    font-weight: normal;
                    text-align: left;
                    padding-left: 12px;
                  ">
                  Duration
                </th>
                <td colspan="6">${duration}</td>
              </tr>
              <tr>
                <th style="
                    font-weight: normal;
                    text-align: left;
                    padding-left: 12px;
                    border-top: 1px solid #ffffff;
                  ">
                  Fail reason
                </th>
                <td colspan="6" style="border-top: 1px solid #ffffff">
                  ${failedReason}
                </td>
              </tr>
            </table>
          </div>
          <p>
            You can now go to your test project to view the execution report.
          </p>
          <p>
            This email was sent automatically by Katalon System. Please do not
            reply.
          </p>
          <p>Thanks,</p>
          <p>Katalon Studio</p>
        </td>
      </tr>
    </tbody>
  </table>
</center>